<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <table border="1" align="center" width="1000px">
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>密码</th>
            <th>权限</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.userName }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.authority }}</td>
        </tr>
        {% endfor %}
​
    </table>
</body>
</html>